.cell {
  border: solid 2px black;
  height: 50px;
}

.original {
  border: red solid 2px;
  background-color: white;
}

.avatar {
  border: 2px green solid;
  background-color: white;
}

.list-droparea.hovered {
  height: 100px;
  transition: all 100ms ease-in;
}

.list-droparea {
  margin-left: -10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
